body{
    margin:  3%;
    background-color: #0f0f0f;
    
    color: #21bf74;
}
.content{
    display: inline;
    
    
}

.right-side{
    width: 500px;
    margin: 0%;
    float: right;
    

    
}
#text {
    font-size: 14px;
}

#SignIn{
    font-size: 26px;
    color:#313131;
}
input{
    width: 220px;
    height: 25px;
    background-color: #2a6b6b;
    color:  #21bf74;
    border-radius: 8px;
    outline-style: none;
    border: none;
    margin-top: 15px;
}
input[type=text], input[type=password]{
    font-size: 16px;
    padding: 4px;
    
}
::placeholder{
    color: white;
}
button{
    width: 460px;
    height: 35px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #313131;
    outline-style: none;
    border: none;
    color: #2a6b6b;
    border-radius: 8px;
    font-size: 20px;
}
button:hover{
    background-color:  #21bf74;
    color: white;
    
}

.login{
    margin-top: -10px;
    width: 510px;
    margin-left: 5%;
}
#show{
    all: unset;
    float: right;
    margin-top: 20px;
    cursor: pointer;
    display: none;
}

#hide{
    all: unset;
    float: right;
    margin-top: 20px;
    cursor: pointer;
    display: none;
    
}

.inputs{
    
}
.register{
    all: unset;
    margin-left: 3%;
    background-color: #313131;
    color: #2a6b6b;
    padding: 4px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

span{
    color:#21bf74;
    margin-left: 10px;
}
.error{
    position: absolute;
    width: 400px;
    top: 45%;
    left: 35%;
    background-color: rgba(0, 0, 0, 0.767);
    text-align: center;
    border: none;
    display: none;
    
    
}
.error h4{

margin-top: 0px;
padding: 10px;
color: rgb(228, 2, 2);
}
.background-error{
    background-color: #2a6b6b;
}
.error-border{
    border: rgb(228, 2, 2) dashed 4px;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -3%;
    left: -1%;
    
}
.error p{
margin: 30px 0px;

}

@-webkit-keyframes blink {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}
.error-border, .error h4{
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 1s;
}
#errorButton{
    all: unset;
    
    cursor: pointer;
   position: absolute;
   top: 8%;
   right: 3%;
}
.EscOrX{
    margin-right: -70%;
    padding-top: -10px;
    font-size:12px;
}


.success{
    position: absolute;
    width: 400px;
    top: 45%;
    left: 35%;
    background-color: rgba(0, 0, 0, 0.767);
    text-align: center;
    border: none;
    display: none;
    
    
}
.success h4{

margin-top: 0px;
padding: 10px;
color: rgb(21, 228, 2);
}
.background-success{
    background-color: #2a6b6b;
}
.success-border{
    border: rgb(21, 228, 2) dashed 4px;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -3%;
    left: -1%;
    
}
.success p{
margin: 30px 0px;

}